# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

Doxyfile
Makefile
admin/Makefile
autom4te.cache/
config.log
config.status
include/Makefile
include/thread_mpi/Makefile
include/thread_mpi/atomic/Makefile
include/types/Makefile
libtool
man/Makefile
man/man1/Makefile
man/man7/Makefile
md.log
scripts/GMXRC
scripts/GMXRC.bash
scripts/GMXRC.csh
scripts/GMXRC.zsh
scripts/Makefile
share/Makefile
share/html/Makefile
share/html/images/Makefile
share/html/online/Makefile
share/template/.deps/
share/template/Makefile
share/template/Makefile.x86_64-unknown-linux-gnu
share/template/gromacs
share/template/template
share/top/Makefile
share/top/amber03.ff/Makefile
share/top/amber94.ff/Makefile
share/top/amber96.ff/Makefile
share/top/amber99.ff/Makefile
share/top/amber99sb-ildn.ff/Makefile
share/top/amber99sb.ff/Makefile
share/top/amberGS.ff/Makefile
share/top/charmm27.ff/Makefile
share/top/encads.ff/Makefile
share/top/encadv.ff/Makefile
share/top/gmx.ff/Makefile
share/top/gmx2.ff/Makefile
share/top/gromos43a1.ff/Makefile
share/top/gromos43a2.ff/Makefile
share/top/gromos45a3.ff/Makefile
share/top/gromos53a5.ff/Makefile
share/top/gromos53a6.ff/Makefile
share/top/oplsaa.ff/Makefile
share/tutor/Makefile
share/tutor/gmxdemo/Makefile
share/tutor/methanol/Makefile
share/tutor/mixed/Makefile
share/tutor/nmr1/Makefile
share/tutor/nmr2/Makefile
share/tutor/speptide/Makefile
share/tutor/water/Makefile
src/Makefile
src/config.h
src/contrib/.deps/
src/contrib/Makefile
src/gmxlib/.deps/
src/gmxlib/.libs/
src/gmxlib/3dview.lo
src/gmxlib/atomprop.lo
src/gmxlib/bondfree.lo
src/gmxlib/calcgrid.lo
src/gmxlib/calch.lo
src/gmxlib/chargegroup.lo
src/gmxlib/checkpoint.lo
src/gmxlib/cinvsqrtdata.lo
src/gmxlib/confio.lo
src/gmxlib/copyrite.lo
src/gmxlib/dihres.lo
src/gmxlib/disre.lo
src/gmxlib/do_fit.lo
src/gmxlib/enxio.lo
src/gmxlib/ewald_util.lo
src/gmxlib/ffscanf.lo
src/gmxlib/filenm.lo
src/gmxlib/futil.lo
src/gmxlib/gbutil.lo
src/gmxlib/gmx_arpack.lo
src/gmxlib/gmx_blas/.deps/
src/gmxlib/gmx_blas/.libs/
src/gmxlib/gmx_blas/Makefile
src/gmxlib/gmx_blas/dasum.lo
src/gmxlib/gmx_blas/daxpy.lo
src/gmxlib/gmx_blas/dcopy.lo
src/gmxlib/gmx_blas/ddot.lo
src/gmxlib/gmx_blas/dgemm.lo
src/gmxlib/gmx_blas/dgemv.lo
src/gmxlib/gmx_blas/dger.lo
src/gmxlib/gmx_blas/dnrm2.lo
src/gmxlib/gmx_blas/drot.lo
src/gmxlib/gmx_blas/dscal.lo
src/gmxlib/gmx_blas/dswap.lo
src/gmxlib/gmx_blas/dsymv.lo
src/gmxlib/gmx_blas/dsyr2.lo
src/gmxlib/gmx_blas/dsyr2k.lo
src/gmxlib/gmx_blas/dtrmm.lo
src/gmxlib/gmx_blas/dtrmv.lo
src/gmxlib/gmx_blas/dtrsm.lo
src/gmxlib/gmx_blas/idamax.lo
src/gmxlib/gmx_blas/isamax.lo
src/gmxlib/gmx_blas/libblas.la
src/gmxlib/gmx_blas/sasum.lo
src/gmxlib/gmx_blas/saxpy.lo
src/gmxlib/gmx_blas/scopy.lo
src/gmxlib/gmx_blas/sdot.lo
src/gmxlib/gmx_blas/sgemm.lo
src/gmxlib/gmx_blas/sgemv.lo
src/gmxlib/gmx_blas/sger.lo
src/gmxlib/gmx_blas/snrm2.lo
src/gmxlib/gmx_blas/srot.lo
src/gmxlib/gmx_blas/sscal.lo
src/gmxlib/gmx_blas/sswap.lo
src/gmxlib/gmx_blas/ssymv.lo
src/gmxlib/gmx_blas/ssyr2.lo
src/gmxlib/gmx_blas/ssyr2k.lo
src/gmxlib/gmx_blas/strmm.lo
src/gmxlib/gmx_blas/strmv.lo
src/gmxlib/gmx_blas/strsm.lo
src/gmxlib/gmx_cyclecounter.lo
src/gmxlib/gmx_fatal.lo
src/gmxlib/gmx_lapack/.deps/
src/gmxlib/gmx_lapack/.libs/
src/gmxlib/gmx_lapack/Makefile
src/gmxlib/gmx_lapack/dbdsdc.lo
src/gmxlib/gmx_lapack/dbdsqr.lo
src/gmxlib/gmx_lapack/dgebd2.lo
src/gmxlib/gmx_lapack/dgebrd.lo
src/gmxlib/gmx_lapack/dgelq2.lo
src/gmxlib/gmx_lapack/dgelqf.lo
src/gmxlib/gmx_lapack/dgeqr2.lo
src/gmxlib/gmx_lapack/dgeqrf.lo
src/gmxlib/gmx_lapack/dgesdd.lo
src/gmxlib/gmx_lapack/dgetf2.lo
src/gmxlib/gmx_lapack/dgetrf.lo
src/gmxlib/gmx_lapack/dgetri.lo
src/gmxlib/gmx_lapack/dgetrs.lo
src/gmxlib/gmx_lapack/dlabrd.lo
src/gmxlib/gmx_lapack/dlacpy.lo
src/gmxlib/gmx_lapack/dlae2.lo
src/gmxlib/gmx_lapack/dlaebz.lo
src/gmxlib/gmx_lapack/dlaed6.lo
src/gmxlib/gmx_lapack/dlaev2.lo
src/gmxlib/gmx_lapack/dlagtf.lo
src/gmxlib/gmx_lapack/dlagts.lo
src/gmxlib/gmx_lapack/dlamrg.lo
src/gmxlib/gmx_lapack/dlange.lo
src/gmxlib/gmx_lapack/dlanst.lo
src/gmxlib/gmx_lapack/dlansy.lo
src/gmxlib/gmx_lapack/dlapy2.lo
src/gmxlib/gmx_lapack/dlar1vx.lo
src/gmxlib/gmx_lapack/dlarf.lo
src/gmxlib/gmx_lapack/dlarfb.lo
src/gmxlib/gmx_lapack/dlarfg.lo
src/gmxlib/gmx_lapack/dlarft.lo
src/gmxlib/gmx_lapack/dlarnv.lo
src/gmxlib/gmx_lapack/dlarrbx.lo
src/gmxlib/gmx_lapack/dlarrex.lo
src/gmxlib/gmx_lapack/dlarrfx.lo
src/gmxlib/gmx_lapack/dlarrvx.lo
src/gmxlib/gmx_lapack/dlartg.lo
src/gmxlib/gmx_lapack/dlaruv.lo
src/gmxlib/gmx_lapack/dlas2.lo
src/gmxlib/gmx_lapack/dlascl.lo
src/gmxlib/gmx_lapack/dlasd0.lo
src/gmxlib/gmx_lapack/dlasd1.lo
src/gmxlib/gmx_lapack/dlasd2.lo
src/gmxlib/gmx_lapack/dlasd3.lo
src/gmxlib/gmx_lapack/dlasd4.lo
src/gmxlib/gmx_lapack/dlasd5.lo
src/gmxlib/gmx_lapack/dlasd6.lo
src/gmxlib/gmx_lapack/dlasd7.lo
src/gmxlib/gmx_lapack/dlasd8.lo
src/gmxlib/gmx_lapack/dlasda.lo
src/gmxlib/gmx_lapack/dlasdq.lo
src/gmxlib/gmx_lapack/dlasdt.lo
src/gmxlib/gmx_lapack/dlaset.lo
src/gmxlib/gmx_lapack/dlasq1.lo
src/gmxlib/gmx_lapack/dlasq2.lo
src/gmxlib/gmx_lapack/dlasq3.lo
src/gmxlib/gmx_lapack/dlasq4.lo
src/gmxlib/gmx_lapack/dlasq5.lo
src/gmxlib/gmx_lapack/dlasq6.lo
src/gmxlib/gmx_lapack/dlasr.lo
src/gmxlib/gmx_lapack/dlasrt.lo
src/gmxlib/gmx_lapack/dlasrt2.lo
src/gmxlib/gmx_lapack/dlassq.lo
src/gmxlib/gmx_lapack/dlasv2.lo
src/gmxlib/gmx_lapack/dlaswp.lo
src/gmxlib/gmx_lapack/dlatrd.lo
src/gmxlib/gmx_lapack/dorg2r.lo
src/gmxlib/gmx_lapack/dorgbr.lo
src/gmxlib/gmx_lapack/dorgl2.lo
src/gmxlib/gmx_lapack/dorglq.lo
src/gmxlib/gmx_lapack/dorgqr.lo
src/gmxlib/gmx_lapack/dorm2l.lo
src/gmxlib/gmx_lapack/dorm2r.lo
src/gmxlib/gmx_lapack/dormbr.lo
src/gmxlib/gmx_lapack/dorml2.lo
src/gmxlib/gmx_lapack/dormlq.lo
src/gmxlib/gmx_lapack/dormql.lo
src/gmxlib/gmx_lapack/dormqr.lo
src/gmxlib/gmx_lapack/dormtr.lo
src/gmxlib/gmx_lapack/dstebz.lo
src/gmxlib/gmx_lapack/dstegr.lo
src/gmxlib/gmx_lapack/dstein.lo
src/gmxlib/gmx_lapack/dsteqr.lo
src/gmxlib/gmx_lapack/dsterf.lo
src/gmxlib/gmx_lapack/dstevr.lo
src/gmxlib/gmx_lapack/dsyevr.lo
src/gmxlib/gmx_lapack/dsytd2.lo
src/gmxlib/gmx_lapack/dsytrd.lo
src/gmxlib/gmx_lapack/dtrti2.lo
src/gmxlib/gmx_lapack/dtrtri.lo
src/gmxlib/gmx_lapack/ilasrt2.lo
src/gmxlib/gmx_lapack/liblapack.la
src/gmxlib/gmx_lapack/sbdsdc.lo
src/gmxlib/gmx_lapack/sbdsqr.lo
src/gmxlib/gmx_lapack/sgebd2.lo
src/gmxlib/gmx_lapack/sgebrd.lo
src/gmxlib/gmx_lapack/sgelq2.lo
src/gmxlib/gmx_lapack/sgelqf.lo
src/gmxlib/gmx_lapack/sgeqr2.lo
src/gmxlib/gmx_lapack/sgeqrf.lo
src/gmxlib/gmx_lapack/sgesdd.lo
src/gmxlib/gmx_lapack/sgetf2.lo
src/gmxlib/gmx_lapack/sgetrf.lo
src/gmxlib/gmx_lapack/sgetri.lo
src/gmxlib/gmx_lapack/sgetrs.lo
src/gmxlib/gmx_lapack/slabrd.lo
src/gmxlib/gmx_lapack/slacpy.lo
src/gmxlib/gmx_lapack/slae2.lo
src/gmxlib/gmx_lapack/slaebz.lo
src/gmxlib/gmx_lapack/slaed6.lo
src/gmxlib/gmx_lapack/slaev2.lo
src/gmxlib/gmx_lapack/slagtf.lo
src/gmxlib/gmx_lapack/slagts.lo
src/gmxlib/gmx_lapack/slamrg.lo
src/gmxlib/gmx_lapack/slange.lo
src/gmxlib/gmx_lapack/slanst.lo
src/gmxlib/gmx_lapack/slansy.lo
src/gmxlib/gmx_lapack/slapy2.lo
src/gmxlib/gmx_lapack/slar1vx.lo
src/gmxlib/gmx_lapack/slarf.lo
src/gmxlib/gmx_lapack/slarfb.lo
src/gmxlib/gmx_lapack/slarfg.lo
src/gmxlib/gmx_lapack/slarft.lo
src/gmxlib/gmx_lapack/slarnv.lo
src/gmxlib/gmx_lapack/slarrbx.lo
src/gmxlib/gmx_lapack/slarrex.lo
src/gmxlib/gmx_lapack/slarrfx.lo
src/gmxlib/gmx_lapack/slarrvx.lo
src/gmxlib/gmx_lapack/slartg.lo
src/gmxlib/gmx_lapack/slaruv.lo
src/gmxlib/gmx_lapack/slas2.lo
src/gmxlib/gmx_lapack/slascl.lo
src/gmxlib/gmx_lapack/slasd0.lo
src/gmxlib/gmx_lapack/slasd1.lo
src/gmxlib/gmx_lapack/slasd2.lo
src/gmxlib/gmx_lapack/slasd3.lo
src/gmxlib/gmx_lapack/slasd4.lo
src/gmxlib/gmx_lapack/slasd5.lo
src/gmxlib/gmx_lapack/slasd6.lo
src/gmxlib/gmx_lapack/slasd7.lo
src/gmxlib/gmx_lapack/slasd8.lo
src/gmxlib/gmx_lapack/slasda.lo
src/gmxlib/gmx_lapack/slasdq.lo
src/gmxlib/gmx_lapack/slasdt.lo
src/gmxlib/gmx_lapack/slaset.lo
src/gmxlib/gmx_lapack/slasq1.lo
src/gmxlib/gmx_lapack/slasq2.lo
src/gmxlib/gmx_lapack/slasq3.lo
src/gmxlib/gmx_lapack/slasq4.lo
src/gmxlib/gmx_lapack/slasq5.lo
src/gmxlib/gmx_lapack/slasq6.lo
src/gmxlib/gmx_lapack/slasr.lo
src/gmxlib/gmx_lapack/slasrt.lo
src/gmxlib/gmx_lapack/slasrt2.lo
src/gmxlib/gmx_lapack/slassq.lo
src/gmxlib/gmx_lapack/slasv2.lo
src/gmxlib/gmx_lapack/slaswp.lo
src/gmxlib/gmx_lapack/slatrd.lo
src/gmxlib/gmx_lapack/sorg2r.lo
src/gmxlib/gmx_lapack/sorgbr.lo
src/gmxlib/gmx_lapack/sorgl2.lo
src/gmxlib/gmx_lapack/sorglq.lo
src/gmxlib/gmx_lapack/sorgqr.lo
src/gmxlib/gmx_lapack/sorm2l.lo
src/gmxlib/gmx_lapack/sorm2r.lo
src/gmxlib/gmx_lapack/sormbr.lo
src/gmxlib/gmx_lapack/sorml2.lo
src/gmxlib/gmx_lapack/sormlq.lo
src/gmxlib/gmx_lapack/sormql.lo
src/gmxlib/gmx_lapack/sormqr.lo
src/gmxlib/gmx_lapack/sormtr.lo
src/gmxlib/gmx_lapack/sstebz.lo
src/gmxlib/gmx_lapack/sstegr.lo
src/gmxlib/gmx_lapack/sstein.lo
src/gmxlib/gmx_lapack/ssteqr.lo
src/gmxlib/gmx_lapack/ssterf.lo
src/gmxlib/gmx_lapack/sstevr.lo
src/gmxlib/gmx_lapack/ssyevr.lo
src/gmxlib/gmx_lapack/ssytd2.lo
src/gmxlib/gmx_lapack/ssytrd.lo
src/gmxlib/gmx_lapack/strti2.lo
src/gmxlib/gmx_lapack/strtri.lo
src/gmxlib/gmx_matrix.lo
src/gmxlib/gmx_random.lo
src/gmxlib/gmx_sort.lo
src/gmxlib/gmx_system_xdr.lo
src/gmxlib/gmxcpp.lo
src/gmxlib/gmxfio.lo
src/gmxlib/gmxfio_asc.lo
src/gmxlib/gmxfio_bin.lo
src/gmxlib/gmxfio_rw.lo
src/gmxlib/gmxfio_xdr.lo
src/gmxlib/ifunc.lo
src/gmxlib/index.lo
src/gmxlib/inputrec.lo
src/gmxlib/invblock.lo
src/gmxlib/libgmx.la
src/gmxlib/libgmx.pc
src/gmxlib/libxdrf.lo
src/gmxlib/macros.lo
src/gmxlib/main.lo
src/gmxlib/maths.lo
src/gmxlib/matio.lo
src/gmxlib/md5.lo
src/gmxlib/mshift.lo
src/gmxlib/mtop_util.lo
src/gmxlib/mtxio.lo
src/gmxlib/mvdata.lo
src/gmxlib/names.lo
src/gmxlib/network.lo
src/gmxlib/nonbonded/.deps/
src/gmxlib/nonbonded/.libs/
src/gmxlib/nonbonded/Makefile
src/gmxlib/nonbonded/libnonbonded.la
src/gmxlib/nonbonded/nb_free_energy.lo
src/gmxlib/nonbonded/nb_generic.lo
src/gmxlib/nonbonded/nb_generic_cg.lo
src/gmxlib/nonbonded/nb_kernel_bluegene/.deps/
src/gmxlib/nonbonded/nb_kernel_bluegene/Makefile
src/gmxlib/nonbonded/nb_kernel_c/.deps/
src/gmxlib/nonbonded/nb_kernel_c/.libs/
src/gmxlib/nonbonded/nb_kernel_c/Makefile
src/gmxlib/nonbonded/nb_kernel_c/libnb_kernel_c.la
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel010.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel020.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel030.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel100.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel101.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel102.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel103.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel104.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel110.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel111.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel112.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel113.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel114.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel120.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel121.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel122.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel123.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel124.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel130.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel131.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel132.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel133.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel134.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel200.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel201.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel202.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel203.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel204.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel210.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel211.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel212.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel213.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel214.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel220.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel221.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel222.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel223.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel224.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel230.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel231.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel232.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel233.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel234.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel300.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel301.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel302.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel303.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel304.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel310.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel311.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel312.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel313.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel314.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel320.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel321.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel322.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel323.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel324.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel330.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel331.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel332.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel333.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel334.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel400.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel410.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel420.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel430.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel_allvsall.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel_allvsallgb.lo
src/gmxlib/nonbonded/nb_kernel_c/nb_kernel_c.lo
src/gmxlib/nonbonded/nb_kernel_f77_double/.deps/
src/gmxlib/nonbonded/nb_kernel_f77_double/Makefile
src/gmxlib/nonbonded/nb_kernel_f77_single/.deps/
src/gmxlib/nonbonded/nb_kernel_f77_single/Makefile
src/gmxlib/nonbonded/nb_kernel_ia32_sse/.deps/
src/gmxlib/nonbonded/nb_kernel_ia32_sse/Makefile
src/gmxlib/nonbonded/nb_kernel_ia32_sse2/.deps/
src/gmxlib/nonbonded/nb_kernel_ia32_sse2/Makefile
src/gmxlib/nonbonded/nb_kernel_ia64_double/.deps/
src/gmxlib/nonbonded/nb_kernel_ia64_double/Makefile
src/gmxlib/nonbonded/nb_kernel_ia64_single/.deps/
src/gmxlib/nonbonded/nb_kernel_ia64_single/Makefile
src/gmxlib/nonbonded/nb_kernel_power6/.deps/
src/gmxlib/nonbonded/nb_kernel_power6/Makefile
src/gmxlib/nonbonded/nb_kernel_ppc_altivec/.deps/
src/gmxlib/nonbonded/nb_kernel_ppc_altivec/Makefile
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/.deps/
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/.libs/
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/Makefile
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/libnb_kernel_x86_64_sse.la
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel010_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel030_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel100_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel101_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel102_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel103_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel104_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel110_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel111_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel112_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel113_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel114_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel130_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel131_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel132_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel133_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel134_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel200_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel201_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel202_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel203_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel204_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel210_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel211_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel212_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel213_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel214_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel230_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel231_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel232_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel233_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel234_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel300_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel301_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel302_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel303_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel304_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel310_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel311_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel312_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel313_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel314_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel330_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel331_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel332_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel333_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel334_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel400_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel410_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel430_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel_allvsall_sse2_single.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel_allvsallgb_sse2_single.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel_x86_64_sse.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse/nb_kernel_x86_64_sse_test_asm.lo
src/gmxlib/nonbonded/nb_kernel_x86_64_sse2/.deps/
src/gmxlib/nonbonded/nb_kernel_x86_64_sse2/Makefile
src/gmxlib/nonbonded/nonbonded.lo
src/gmxlib/nrama.lo
src/gmxlib/nrjac.lo
src/gmxlib/nrnb.lo
src/gmxlib/oenv.lo
src/gmxlib/orires.lo
src/gmxlib/pargs.lo
src/gmxlib/pbc.lo
src/gmxlib/pdbio.lo
src/gmxlib/princ.lo
src/gmxlib/rando.lo
src/gmxlib/random.lo
src/gmxlib/rbin.lo
src/gmxlib/readinp.lo
src/gmxlib/replace.lo
src/gmxlib/rmpbc.lo
src/gmxlib/selection/.deps/
src/gmxlib/selection/.libs/
src/gmxlib/selection/Makefile
src/gmxlib/selection/compiler.lo
src/gmxlib/selection/evaluate.lo
src/gmxlib/selection/libselection.la
src/gmxlib/selection/mempool.lo
src/gmxlib/selection/params.lo
src/gmxlib/selection/parser.lo
src/gmxlib/selection/parsetree.lo
src/gmxlib/selection/scanner.lo
src/gmxlib/selection/scanner_internal.lo
src/gmxlib/selection/selection.lo
src/gmxlib/selection/selelem.lo
src/gmxlib/selection/selhelp.lo
src/gmxlib/selection/selmethod.lo
src/gmxlib/selection/selvalue.lo
src/gmxlib/selection/sm_compare.lo
src/gmxlib/selection/sm_distance.lo
src/gmxlib/selection/sm_insolidangle.lo
src/gmxlib/selection/sm_keywords.lo
src/gmxlib/selection/sm_merge.lo
src/gmxlib/selection/sm_permute.lo
src/gmxlib/selection/sm_position.lo
src/gmxlib/selection/sm_same.lo
src/gmxlib/selection/sm_simple.lo
src/gmxlib/selection/symrec.lo
src/gmxlib/sfactor.lo
src/gmxlib/shift_util.lo
src/gmxlib/sighandler.lo
src/gmxlib/smalloc.lo
src/gmxlib/sortwater.lo
src/gmxlib/sparsematrix.lo
src/gmxlib/splitter.lo
src/gmxlib/statistics/.deps/
src/gmxlib/statistics/.libs/
src/gmxlib/statistics/Makefile
src/gmxlib/statistics/gmx_statistics.lo
src/gmxlib/statistics/histogram.lo
src/gmxlib/statistics/libstatistics.la
src/gmxlib/statutil.lo
src/gmxlib/strdb.lo
src/gmxlib/string2.lo
src/gmxlib/symtab.lo
src/gmxlib/tcontrol.lo
src/gmxlib/thread_mpi/.deps/
src/gmxlib/thread_mpi/.libs/
src/gmxlib/thread_mpi/Makefile
src/gmxlib/thread_mpi/alltoall.lo
src/gmxlib/thread_mpi/barrier.lo
src/gmxlib/thread_mpi/bcast.lo
src/gmxlib/thread_mpi/collective.lo
src/gmxlib/thread_mpi/comm.lo
src/gmxlib/thread_mpi/errhandler.lo
src/gmxlib/thread_mpi/event.lo
src/gmxlib/thread_mpi/gather.lo
src/gmxlib/thread_mpi/group.lo
src/gmxlib/thread_mpi/hwinfo.lo
src/gmxlib/thread_mpi/libthread_mpi.la
src/gmxlib/thread_mpi/list.lo
src/gmxlib/thread_mpi/lock.lo
src/gmxlib/thread_mpi/once.lo
src/gmxlib/thread_mpi/p2p_protocol.lo
src/gmxlib/thread_mpi/p2p_send_recv.lo
src/gmxlib/thread_mpi/p2p_wait.lo
src/gmxlib/thread_mpi/profile.lo
src/gmxlib/thread_mpi/pthreads.lo
src/gmxlib/thread_mpi/reduce.lo
src/gmxlib/thread_mpi/reduce_fast.lo
src/gmxlib/thread_mpi/scatter.lo
src/gmxlib/thread_mpi/tmpi_init.lo
src/gmxlib/thread_mpi/topology.lo
src/gmxlib/thread_mpi/type.lo
src/gmxlib/topsort.lo
src/gmxlib/tpxio.lo
src/gmxlib/trajana/.deps/
src/gmxlib/trajana/.libs/
src/gmxlib/trajana/Makefile
src/gmxlib/trajana/centerofmass.lo
src/gmxlib/trajana/displacement.lo
src/gmxlib/trajana/indexutil.lo
src/gmxlib/trajana/libtrajana.la
src/gmxlib/trajana/nbsearch.lo
src/gmxlib/trajana/poscalc.lo
src/gmxlib/trajana/position.lo
src/gmxlib/trajana/trajana.lo
src/gmxlib/trnio.lo
src/gmxlib/trxio.lo
src/gmxlib/txtdump.lo
src/gmxlib/typedefs.lo
src/gmxlib/version.lo
src/gmxlib/viewit.lo
src/gmxlib/vmddlopen.lo
src/gmxlib/vmdio.lo
src/gmxlib/warninp.lo
src/gmxlib/wgms.lo
src/gmxlib/wman.lo
src/gmxlib/writeps.lo
src/gmxlib/xdrd.lo
src/gmxlib/xtcio.lo
src/gmxlib/xvgr.lo
src/kernel/.deps/
src/kernel/.libs/
src/kernel/Makefile
src/kernel/add_par.lo
src/kernel/compute_io.lo
src/kernel/convparm.lo
src/kernel/fflibutil.lo
src/kernel/g_luck
src/kernel/g_protonate
src/kernel/g_x2top
src/kernel/gen_ad.lo
src/kernel/gen_vsite.lo
src/kernel/genhydro.lo
src/kernel/gmxcheck
src/kernel/gmxdump
src/kernel/gpp_atomtype.lo
src/kernel/gpp_bond_atomtype.lo
src/kernel/grompp
src/kernel/h_db.lo
src/kernel/hackblock.lo
src/kernel/hizzie.lo
src/kernel/libgmxpreprocess.la
src/kernel/libgmxpreprocess.pc
src/kernel/mdrun
src/kernel/pdb2gmx
src/kernel/pdb2top.lo
src/kernel/pgutil.lo
src/kernel/readir.lo
src/kernel/readpull.lo
src/kernel/resall.lo
src/kernel/sorting.lo
src/kernel/specbond.lo
src/kernel/ter_db.lo
src/kernel/tomorse.lo
src/kernel/topdirs.lo
src/kernel/topexcl.lo
src/kernel/topio.lo
src/kernel/toppush.lo
src/kernel/topshake.lo
src/kernel/toputil.lo
src/kernel/tpbcmp.lo
src/kernel/tpbconv
src/kernel/vsite_parm.lo
src/kernel/xlate.lo
src/mdlib/.deps/
src/mdlib/.libs/
src/mdlib/Makefile
src/mdlib/calcmu.lo
src/mdlib/calcvir.lo
src/mdlib/clincs.lo
src/mdlib/constr.lo
src/mdlib/coupling.lo
src/mdlib/csettle.lo
src/mdlib/domdec.lo
src/mdlib/domdec_box.lo
src/mdlib/domdec_con.lo
src/mdlib/domdec_network.lo
src/mdlib/domdec_setup.lo
src/mdlib/domdec_top.lo
src/mdlib/ebin.lo
src/mdlib/edsam.lo
src/mdlib/ewald.lo
src/mdlib/fft5d.lo
src/mdlib/force.lo
src/mdlib/forcerec.lo
src/mdlib/genborn.lo
src/mdlib/genborn_allvsall.lo
src/mdlib/genborn_allvsall_sse2_double.lo
src/mdlib/genborn_allvsall_sse2_single.lo
src/mdlib/genborn_sse2_double.lo
src/mdlib/genborn_sse2_single.lo
src/mdlib/ghat.lo
src/mdlib/gmx_fft.lo
src/mdlib/gmx_fft_fftpack.lo
src/mdlib/gmx_fft_fftw2.lo
src/mdlib/gmx_fft_fftw3.lo
src/mdlib/gmx_fft_mkl.lo
src/mdlib/gmx_parallel_3dfft.lo
src/mdlib/gmx_qhop_parm.lo
src/mdlib/gmx_qhop_xml.lo
src/mdlib/gmx_wallcycle.lo
src/mdlib/groupcoord.lo
src/mdlib/init.lo
src/mdlib/libmd.la
src/mdlib/libmd.pc
src/mdlib/mdatom.lo
src/mdlib/mdebin.lo
src/mdlib/mdebin_bar.lo
src/mdlib/minimize.lo
src/mdlib/mvxvf.lo
src/mdlib/ns.lo
src/mdlib/nsgrid.lo
src/mdlib/partdec.lo
src/mdlib/perf_est.lo
src/mdlib/pme.lo
src/mdlib/pme_pp.lo
src/mdlib/pppm.lo
src/mdlib/pull.lo
src/mdlib/pullutil.lo
src/mdlib/qm_gamess.lo
src/mdlib/qm_gaussian.lo
src/mdlib/qm_mopac.lo
src/mdlib/qm_orca.lo
src/mdlib/qmmm.lo
src/mdlib/rf_util.lo
src/mdlib/shakef.lo
src/mdlib/shellfc.lo
src/mdlib/sim_util.lo
src/mdlib/stat.lo
src/mdlib/tables.lo
src/mdlib/tgroup.lo
src/mdlib/tpi.lo
src/mdlib/update.lo
src/mdlib/vcm.lo
src/mdlib/vsite.lo
src/mdlib/wall.lo
src/mdlib/wnblist.lo
src/ngmx/.deps/
src/ngmx/Makefile
src/ngmx/g_xrama
src/ngmx/ngmx
src/stamp-h1
src/tools/.deps/
src/tools/.libs/
src/tools/Makefile
src/tools/addconf.lo
src/tools/anadih.lo
src/tools/autocorr.lo
src/tools/calcpot.lo
src/tools/cmat.lo
src/tools/correl.lo
src/tools/dlist.lo
src/tools/do_dssp
src/tools/editconf
src/tools/edittop.lo
src/tools/eigensolver.lo
src/tools/eigio.lo
src/tools/eneconv
src/tools/expfit.lo
src/tools/fitahx.lo
src/tools/g_anadock
src/tools/g_anaeig
src/tools/g_analyze
src/tools/g_angle
src/tools/g_bar
src/tools/g_bond
src/tools/g_bundle
src/tools/g_chi
src/tools/g_cluster
src/tools/g_clustsize
src/tools/g_confrms
src/tools/g_covar
src/tools/g_current
src/tools/g_density
src/tools/g_densmap
src/tools/g_dielectric
src/tools/g_dih
src/tools/g_dipoles
src/tools/g_disre
src/tools/g_dist
src/tools/g_dyndom
src/tools/g_enemat
src/tools/g_energy
src/tools/g_filter
src/tools/g_gyrate
src/tools/g_h2order
src/tools/g_hbond
src/tools/g_helix
src/tools/g_helixorient
src/tools/g_lie
src/tools/g_mdmat
src/tools/g_membed
src/tools/g_mindist
src/tools/g_morph
src/tools/g_msd
src/tools/g_nmeig
src/tools/g_nmens
src/tools/g_nmtraj
src/tools/g_order
src/tools/g_pme_error
src/tools/g_polystat
src/tools/g_potential
src/tools/g_principal
src/tools/g_rama
src/tools/g_rdf
src/tools/g_rms
src/tools/g_rmsdist
src/tools/g_rmsf
src/tools/g_rotacf
src/tools/g_rotmat
src/tools/g_saltbr
src/tools/g_sas
src/tools/g_select
src/tools/g_sgangle
src/tools/g_sham
src/tools/g_sigeps
src/tools/g_sorient
src/tools/g_spatial
src/tools/g_spol
src/tools/g_tcaf
src/tools/g_traj
src/tools/g_tune_pme
src/tools/g_vanhove
src/tools/g_velacc
src/tools/g_wham
src/tools/g_wheel
src/tools/geminate.lo
src/tools/genbox
src/tools/genconf
src/tools/genion
src/tools/genrestr
src/tools/gmx_anaeig.lo
src/tools/gmx_analyze.lo
src/tools/gmx_angle.lo
src/tools/gmx_bar.lo
src/tools/gmx_bond.lo
src/tools/gmx_bundle.lo
src/tools/gmx_chi.lo
src/tools/gmx_cluster.lo
src/tools/gmx_clustsize.lo
src/tools/gmx_confrms.lo
src/tools/gmx_covar.lo
src/tools/gmx_current.lo
src/tools/gmx_density.lo
src/tools/gmx_densmap.lo
src/tools/gmx_dielectric.lo
src/tools/gmx_dih.lo
src/tools/gmx_dipoles.lo
src/tools/gmx_disre.lo
src/tools/gmx_dist.lo
src/tools/gmx_dyndom.lo
src/tools/gmx_editconf.lo
src/tools/gmx_eneconv.lo
src/tools/gmx_enemat.lo
src/tools/gmx_energy.lo
src/tools/gmx_filter.lo
src/tools/gmx_genbox.lo
src/tools/gmx_genconf.lo
src/tools/gmx_genion.lo
src/tools/gmx_genpr.lo
src/tools/gmx_gyrate.lo
src/tools/gmx_h2order.lo
src/tools/gmx_hbond.lo
src/tools/gmx_helix.lo
src/tools/gmx_helixorient.lo
src/tools/gmx_kinetics.lo
src/tools/gmx_lie.lo
src/tools/gmx_mdmat.lo
src/tools/gmx_membed.lo
src/tools/gmx_mindist.lo
src/tools/gmx_morph.lo
src/tools/gmx_msd.lo
src/tools/gmx_nmeig.lo
src/tools/gmx_nmens.lo
src/tools/gmx_nmtraj.lo
src/tools/gmx_order.lo
src/tools/gmx_pme_error.lo
src/tools/gmx_polystat.lo
src/tools/gmx_potential.lo
src/tools/gmx_principal.lo
src/tools/gmx_rama.lo
src/tools/gmx_rdf.lo
src/tools/gmx_rms.lo
src/tools/gmx_rmsdist.lo
src/tools/gmx_rmsf.lo
src/tools/gmx_rotacf.lo
src/tools/gmx_rotmat.lo
src/tools/gmx_saltbr.lo
src/tools/gmx_sas.lo
src/tools/gmx_select.lo
src/tools/gmx_sgangle.lo
src/tools/gmx_sham.lo
src/tools/gmx_sorient.lo
src/tools/gmx_spatial.lo
src/tools/gmx_spol.lo
src/tools/gmx_tcaf.lo
src/tools/gmx_traj.lo
src/tools/gmx_trjcat.lo
src/tools/gmx_trjconv.lo
src/tools/gmx_trjorder.lo
src/tools/gmx_tune_pme.lo
src/tools/gmx_vanhove.lo
src/tools/gmx_velacc.lo
src/tools/gmx_wham.lo
src/tools/gmx_wheel.lo
src/tools/gmx_xpm2ps.lo
src/tools/hxprops.lo
src/tools/levenmar.lo
src/tools/libgmxana.la
src/tools/libgmxana.pc
src/tools/make_edi
src/tools/make_ndx
src/tools/mk_angndx
src/tools/nsc.lo
src/tools/polynomials.lo
src/tools/pp2shift.lo
src/tools/trjcat
src/tools/trjconv
src/tools/trjorder
src/tools/xpm2ps

